---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<main style="z-index: 100;">
    <Layout title="Ghost">
        <div id="particles-js" style="z-index: -1;"></div>
        <Nav />
        <center>
            <p class="ex2" style="animation: fadeIn 1s;">Ap<x>p</x>s</p>
            <p>
                You can request games on the <a
                    href="https://discord.gg/dbyDXfs5dN"
                    >Dis<x>co</x>rd serv<x>er</x></a
                >
            </p>

            <div class="acontainer" id="acontainer"></div>
        </center>
        <script src="/js/a.js" is:inline></script>
    </Layout>
</main>
