---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
import data from "../json/apps.json";
import Game from '../components/game.astro';
---

<main style="z-index: 100;">
    <Layout title="Ghost">
        <Nav />
        <center>
            <p class="ex2" style="animation: fadeIn .4s;">Ap<x>p</x>s</p>
            <p>
                You can request games on the <a
                    href="https://discord.gg/dbyDXfs5dN"
                    >Dis<x>co</x>rd serv<x>er</x></a
                >
            </p>

            <div class="acontainer" id="acontainer">
                {data.map((data: { name: string; href: string; img: string; }) => <Game name={data.name} href={data.href} img={data.img} />)}

            </div>
        </center>
    </Layout>
</main>
