---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<main style="z-index: 100;">
    <div id="particles-js" style="z-index: -1;"></div>
    <Layout title="Ghost">
        <Nav />
        <center>
            <br />
            <p class="ex2" style="animation: fadeIn 1s;">Ga<x>me</x>s</p>
            <p>
                You can request games on the <a
                    href="https://discord.gg/dbyDXfs5dN"
                    >Dis<x>co</x>rd serv<x>er</x></a
                >
            </p>
            <div class="gcontainer" id="gcontainer"></div>
        </center>
    </Layout>
    <script src="/js/g.js?usid=6bA42jshv9%" is:inline></script>
</main>
