---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<Layout title="Ghost">
    <head>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8983108696361501"
     crossorigin="anonymous"></script>
    </head>
    <Nav/>
    <center>
    <p class="ex2">Link Checker</p>
    <p>Enter a link To Check it</p>
    <input class="input" placeholder="Enter A URL" id="input">
    <p class="checked" id="checked"></p>
</center>
<script is:inline src="/js/check.js"></script>
<audio src="" id="audio" controls autoplay hidden transition:persist transition:name="media-player"></audio>
    </Layout>