---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<Layout title="Ghost">
    <Nav/>
    <center>
    <p class="ex2">Link Checker</p>
    <p>Enter a link To Check it</p>
    <input class="input" placeholder="Enter A URL" id="input">
    <p class="checked" id="checked"></p>
</center>
<script is:inline src="/js/check.js"></script>
    </Layout>
