---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<Layout title="Ghost">
    <head>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8983108696361501"
     crossorigin="anonymous"></script>
    </head>
    <Nav />
    <main>
        <img class="hero__icon" src="/assets/img/ghost-cut.webp" alt="kindkid is hot">
        <div class="hero__Container">
            <h1 class="hero__title">Welcome to Ghost</h1>
            <p class="hero__description">Explore amazing features and join the fun!</p>
            <div class="hero__btn-holder">
                <button class="hero__btn" onclick="blank();"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M284-506q14-28 29-54t33-52l-56-11-84 84 78 33Zm482-275q-70 2-149.5 41T472-636q-42 42-75 90t-49 90l114 113q42-16 90-49t90-75q65-65 104-144t41-149q0-4-1.5-8t-4.5-7q-3-3-7-4.5t-8-1.5ZM546-541q-23-23-23-56.5t23-56.5q23-23 57-23t57 23q23 23 23 56.5T660-541q-23 23-57 23t-57-23Zm-34 262 33 79 84-84-11-56q-26 18-52 32.5T512-279Zm351-534q8 110-36 214.5T688-399l20 99q4 20-2 39t-20 33L560-102q-15 15-36 11.5T495-114l-61-143-171-171-143-61q-20-8-24-29t11-36l126-126q14-14 33.5-20t39.5-2l99 20q95-95 199.5-139T819-857q8 1 16 4.5t14 9.5q6 6 9.5 14t4.5 16ZM157-321q35-35 85.5-35.5T328-322q35 35 34.5 85.5T327-151q-48 48-113.5 57T82-76q9-66 18-131.5T157-321Zm57 56q-17 17-23.5 41T180-175q25-4 49-10t41-23q12-12 13-29t-11-29q-12-12-29-11.5T214-265Z"/></svg>Open in About:blank</button>
                <button class="hero__btn" onclick="window.location.href = '/w/'"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M380-320q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l224 224q11 11 11 28t-11 28q-11 11-28 11t-28-11L532-372q-30 24-69 38t-83 14Zm0-80q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>Search Something!</button>
            </div>

            <div class="g-a__container">
                <h1 class="g-a__title">Recommended Games</h1>
                <div class="g-a__holder" id="g-a_holder-1">
                    
                </div>
                <h1 class="g-a__title">Recommended Apps</h1>
                <div class="g-a__holder" id="g-a_holder-2">
                </div>
            </div>
        </div>

        
    </main>

    <footer class="footer">
    <a href="/privacypolicy/" class="privacyPolicy">Privacy Policy</a>
    <div class="footer__right">
        <p class="version">v1.6.50</p>
    </div>
    </footer>
    <script src="/js/weirdahhscript.js?load=true&id=92813" is:inline></script>
    <audio src="" id="audio" controls autoplay hidden  transition:persist="media-player"></audio>
</Layout>
