---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<Layout title="Ghost">
    <main style="z-index: 100;">
        <Nav />
        <br />
        <center>
            <script type='text/javascript' is:inline src='//pl25533607.profitablecpmrate.com/d2/c0/09/d2c00916f17b63e473989f767d1082ff.js'></script>
            <p class="ex2" style="animation: fadeIn 2s;">Ghost</p>
            <p>
                <span style="animation: owo .5s;">A</span>
                <span style="animation: owo 1s; animation-delay: .5s">Very</span
                >
                <span
                    style="animation: owo 1s; animation-delay: 1s; color: #f84545;"
                    >Cool</span
                >
                <span
                    style="animation: owo 1s; animation-delay: 1.5s; color: #f84545;"
                    >Site!</span
                >
                <span
                    style="animation: owo 1s; animation-delay: 2s; color: #f84545;"
                    >:D</span
                >
            </p>
            <button class="button2" onclick="blank();"
                >Open in About:blank</button
            >
            <button class="button2" onclick="search()">Search Something!</button
            >
            <div class="trendingtop">
                <center>
                    <h1>Recommended Games</h1>
                </center>
            </div>
            <div class="trendingbottom" id="trendingg">
            </div>
            <div class="trendingtop">
                <center>
                    <h1>Recommended Apps</h1>
                </center>
            </div>
            <div class="trendingbottom" id="trendinga"></div>
    <div class="footer">
    <a style="position: absolute; bottom: 0; left: 0;" href="/privacypolicy/">Privacy Policy</a>
    </div>
        </center>
    </main>
    <script src="/js/weirdahhscript.js?load=true&id=92813" is:inline></script>
</Layout>
