---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---
<Layout title="Ghost">
<Nav />
<div class="pp">
At Ghost, accessible from https://immortal2willlose.xyz, we are committed to safeguarding the privacy of our visitors. This Privacy Policy outlines the types of information that are collected and recorded by our site and how we use it.

1. Information We Collect
Personal Information: We may collect personal information, such as name, email, or phone number, only when voluntarily submitted by visitors.

Non-Personal Information: We automatically collect certain non-personal information, including IP addresses, browser types, referring pages, and the time spent on pages.

2. How We Use Your Information
To Improve User Experience: We analyze the information we collect to improve the content and design of our site.

Advertising: We partner with third-party vendors, including Google, to serve ads on our site. Google uses cookies to display ads based on your visits to our site and other sites on the internet.

3. Cookies and Web Beacons
What Are Cookies: Cookies are small files that websites place on your device to store information about your preferences.

How We Use Cookies: We use cookies to personalize content and ads, provide social media features, and analyze traffic. You can disable cookies in your browser, but this may affect your experience on our site.

4. Google AdSense
Third-Party Ad Providers: Google, as a third-party vendor, uses cookies to serve ads. The use of DART cookies enables Google and its partners to serve ads based on your visit to our site and other sites on the Internet.

Opting Out: Visitors can opt-out of the use of DART cookies by visiting the Google Ad and Content Network privacy policy.

5. Third-Party Privacy Policies
Ghost's Privacy Policy does not apply to other advertisers or websites. We advise you to review the respective Privacy Policies of these third-party ad servers.

6. Children's Information
Protecting children's privacy is very important to us. We do not knowingly collect personally identifiable information from children under 13. If you believe your child has provided such information, please contact us  at hii@immortal2willlose.xyz so we can take appropriate actions.

7. Contact Us
If you have any questions about this Privacy Policy, please contact us here.
</div>
</Layout>
