---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<Layout title="Ghost">
    <head>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2779999647710891"
 crossorigin="anonymous"></script>
    </head>
    <Nav/>
    <center>
        <br />
        <p class="ex2" style="animation: fadeIn 1s;">Settings</p>
        <div class="settingsdisplay" style="animation: fadeIn 1s;">
            <div class="settingspanel">
                <center>
                    <h1>Themes</h1>
                    <button class="button1" onclick="theme1()"
                        >Catppuccin</button
                    >
                    <button onclick="theme2()" class="button1">Ghost</button>
                    <button onclick="theme4()" class="button1"
                        >Pink (Light)</button
                    >
                    <button onclick="theme5()" class="button1"
                        >Blue (Light)</button
                    >
                    <button onclick="theme6()" class="button1"
                        >Green (Light)</button
                    >
                    <button onclick="theme7()" class="button1"
                        >Green (Dark)</button
                    >
                    <button onclick="theme8()" class="button1"
                        >Pink (Dark)</button
                    >
                    <button onclick="theme9()" class="button1"
                        >Blue(Dark)</button
                    >
                    <button onclick="theme10()" class="button1">Purple</button>
                </center>
            </div>
            <div class="settingspanel">
                <center>
                    <h2>Cloak</h2>
                    <button class="button1" onclick="icondocs()"
                        >Google Docs</button
                    >
                    <button class="button1" onclick="icondrive()"
                        >Google Drive</button
                    >
                    <button class="button1" onclick="icondesmos()"
                        >Desmos</button
                    >
                    <button class="button1" onclick="iconcanvas()">
                        Canvas</button
                    >
                    <button class="button1" onclick="iconclass()">
                        Google Classroom</button
                    >
                </center>
            </div>
            <div class="settingspanel">
                <center>
                    <h2>Anti Tab Close</h2>
                    <label class="switch">
                        <input type="checkbox" id="close" />
                        <span class="slider round" onclick="noleave()"></span>
                    </label>
                    <h1>Panic Key</h1>
                    <button class="button1" onclick="recordkey()"
                        >Record Key</button
                    >
                </center>
            </div>
            <div class="settingspanel">
                <center>
                    <h2>Search Engine</h2>
                    <select class="engines" id="engineSWITCHER">
                        <option value="https://www.google.com/search?="
                            >Google</option
                        >
                        <option value="https://www.bing.com/search?form=&q="
                            >Bing</option
                        >
                        <option value="https://duckduckgo.com/?t=h_&q="
                            >DuckDuckGo</option
                        >
                        <option value="https://search.brave.com/search?q="
                            >Brave</option
                        >
                        <option
                            value="https://www.irs.gov/site-index-search?search="
                            >IRS</option
                        >
                        <option value="https://www.bbc.com/search?q="
                            >BBC</option
                        >
                        <option value="https://www.cnn.com/search?q="
                            >CNN</option
                        >
                    </select>
                </center>
            </div>

            <div class="settingspanel">
                <center>
                    <h2>Auto Abo<x>ut:B</x>lank</h2>
                    <label class="switch">
                        <input type="checkbox" id="abt" />
                        <span class="slider round" onclick="abt()"></span>
                    </label>
                    <h2>Click Off Tab C<x>lo</x>aking</h2>
                    <label class="switch">
                        <input type="checkbox" id="clickoff" />
                        <span
                            class="slider round"
                            onclick="clickoff()"
                            id="cloak"></span>
                    </label>
                </center>
            </div>
            <script
                src="/js/cosmos.js?req=8bd2s-aj3m&id=8fba1md-km28xz"
                is:inline
            ></script>
        </div>
    </center>
</Layout>