---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
import Tool from '../components/tool.astro';
import "../styles/tool.css";
---

<Layout title="Ghost">
    <Nav/>
    <p class="tool-title">Tools</p>
    <div class="tools">
        <Tool name="FilterChecker" img="/assets/img/linkchecker.webp" redir="window.location.href = '/check/'" desc="Check Your Links On Different Filters!"/>
        <Tool name="Song Downloader" img="/assets/img/songdownloader.webp" redir="window.location.href = '/dl/'" desc="Download Your Favorite Songs!"/>
        <Tool name="Password Gen" img="/assets/img/password.png" redir="window.location.href = '/psswd/'" desc="Generate a secure password!"/>
    </div>
    <audio src="" id="audio" controls autoplay hidden transition:persist transition:name="media-player"></audio>
</Layout>