---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
import Tool from '../components/tool.astro';
import "../styles/tool.css";
---

<Layout title="Ghost">
    <Nav/>
    <script type='text/javascript' is:inline src='//pl25533607.profitablecpmrate.com/d2/c0/09/d2c00916f17b63e473989f767d1082ff.js'></script>
    <script async="async" is:inline data-cfasync="false" src="//pl25527333.profitablecpmrate.com/d00b3b529c7e75cacbb98e16680c5373/invoke.js"></script>
    <center>
    <p class="ex2">Tools</p>
    <div class="toolContianer" id="toolContainer">
        <Tool name="FilterChecker" redir="/check/" desc="Check Your Links On Different filters!"/>
        <Tool name="Song Downloader" redir="/dl/" desc="Download Your favorite songs!"/>
    </div>
    </center>
    <div id="container-d00b3b529c7e75cacbb98e16680c5373"></div>
</Layout>