---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
import Tool from '../components/tool.astro';
import "../styles/tool.css";
---

<Layout title="Ghost">
    <head>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2779999647710891"
 crossorigin="anonymous"></script>
    </head>
    <Nav/>
    <p class="tool-title">Tools</p>
    <div class="tools">
        <Tool name="FilterChecker" img="/assets/img/linkchecker.png" redir="window.location.href = '/check/'" desc="Check Your Links On Different Filters!"/>
        <Tool name="Song Downloader" img="/assets/img/songdownloader.png" redir="window.location.href = '/dl/'" desc="Download Your Favorite Songs!"/>
    </div>
</Layout>