---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<Layout title="Ghost">
    <Nav/>
    <script src="/js/trackThis/main.js" is:inline></script>
    <script src="/js/trackThis/doom.js" is:inline></script>
    <script src="/js/trackThis/hypebeast.js" is:inline></script>
    <script src="/js/trackThis/influencer.js" is:inline></script>
    <script src="/js/trackThis/rich.js" is:inline></script>

    <center>
        <div style="margin-top: 20vh;">
            <h1 style="color: white; font-family: helvetica, arial">Who do you want to be?</h1>
            <h3 style="color: white; font-family: helvetica, arial">Warning: This will open 100 websites in an iframe. If you cannot handle that, do not use this</h3>
            <button class="trackThis-button" onclick="madness(tbl1)">Doomsday prepper</button>
            <button class="trackThis-button" onclick="madness(tbl2)">Hypebeast</button>
            <button class="trackThis-button" onclick="madness(tbl4)">Filthy rich</button>
            <button class="trackThis-button" onclick="madness(tbl3)">Influencer</button>
        </div>
        <h1 id="finished" style="color: white; font-family: helvetica, arial"></h1>
    </center>
    <div id="hiddenArea" style="overflow: hidden; visibility: hidden; display: none;"></div>
</Layout>
