---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<Layout title="Ghost">
    <Nav />
    <center>
        <br />
        <p class="ex2">
            <img id="logo2" src="/assets/img/ghost.webp" height="200" />
        </p>
        <p class="ex3">Ghost Sea<span>rch</span></p>
        <h2><span id="subtitle">loading...</span></h2>
        <div class="searchwrapper">
        <input
            type="text"
            id="input"
            class="input"
            placeholder="Search or enter a URL.."
        />
    </div>
        <p style="color: white;">
            Using <span id="p-name" style="color: var(--Primary-Color)"></span>
        </p>
    </center>

    <style>
        .input:hover {
        cursor: pointer;
        background-color: #dcdcdc;
        transition: 0.2s cubic-bezier(0.35, 0.56, 0.85, 0.77);
        transform: translateY(-5px);
    }
    </style>

    <script is:inline>
         document.addEventListener('astro:page-load', async () => {
            const pname = localStorage.getItem('pr')
            switch (pname) {
                case 'uv':
                    document.getElementById('p-name').innerText = 'Ultraviolet'
                    break;
                case 'rh':
                    document.getElementById('p-name').innerText = 'Rammerhead'
                    break;
                case null:
                    document.getElementById('p-name').innerText = 'Ultraviolet'
                    break;
            }
            const input = document.querySelector('.input')
            input.addEventListener('keydown', handleInput)

            async function handleInput(e) {
                if (e.key !== 'Enter') return
                if (containsBlockedKeyword(input.value, blocked)) {
                    window.location.replace('/blocked.html')
                } else {
                    const query = formatSearch(input.value)
                    localStorage.setItem(
                        'url',
                       await encodeUrl(query)
                    )
                    window.location.href = '/edu/'
                }
            }

            function containsBlockedKeyword(input, blockedList) {
                for (let i = 0; i < blockedList.length; i++) {
                    if (input.includes(blockedList[i])) {
                        return true
                    }
                }
                return false
            }

            function formatSearch(query) {
                const engine = localStorage.getItem('engine')
                if (engine === null) {
                    localStorage.setItem(
                        'engine',
                        'https://www.google.com/search?q='
                    )
                }

                try {
                    return new URL(query).toString()
                } catch (e) {}

                try {
                    const url = new URL(`https://${query}`)
                    if (url.hostname.includes('.')) return url.toString()
                } catch (e) {}

                return new URL(engine + `${query}`).toString()
            }

            const blocked = [
                'porn',
                'sex',
                'xxx',
                'hentai',
                'pornhub.com',
                'xxx.com',
                '4chan.org',
            ]
        })

        const pr = localStorage.getItem("pr")
        async function encodeUrl(url) {
        switch(pr) {
            case "uv":
                return __uv$config.prefix + __uv$config.encodeUrl(url)
            case "rh":
               return  "/" + await RammerheadEncode(url)
            case null: 
            return __uv$config.prefix + __uv$config.encodeUrl(url)
        }
    }
    </script>

    <script is:inline>
        function changeSub(num) {
            document.getElementById('subtitle').innerText = tell[num]
        }

        var tell = [
            'Nobodycares is a skiddy kid af',
            'What even is that?',
            'You need help',
            'Ghost is crazy',
            'CoolOnlineGames',
            'ur funny',
            'what do it mean when you dream that you ballin',
            'LOL',
            'got taken down fr fr',
            'help me',
            'go crazy right now',
            'made by a student (crazy right)',
            'i got a glock in my rari',
            'gren',
            'griddy',
            'and im kanye west',
            'David is the best',
            'Ghost on crack!',
            'astro on crack fr',
            '68.235.46.39 (your ip)',
            'Woofplayz_dev7 is the best javascript coder out there',
            'Woofplayz_dev7 is NOT my daddy',
            'R.I.P Sunset',
            'Free for all',
            'A wise man once told me to use Ghost',
            'i need starz plz https://github.com/The-Ghost-Network/Ghost-Astro',
            'I Code Cool Stuff :D',
            'Jordan was here 😱 (creator of jordansmathwork)',
            'Ghost was skidded - Clipped',
            'JMW is cool',
            'cube gang',
            'blanket????',
            'this is the rarest one (real)',
            'NO THIS IS THE RAREST ONE!!!',
            'how many of these are there????',
            'what do it mean when you dream that you fallin',
            'Thanks to PBS Kids for the code!',
            'hes not real (dont trust him)',
            'BLU GHOST???',
            'Get on my level!',
            'skill issue',
            'not my fault',
            'the skiddiest site youve ever seen',
        ]

        var howmany = tell.length
        var randomIndex = Math.floor(Math.random() * howmany)

        document.getElementById('subtitle').innerText = tell[randomIndex]

        function changeSplash(num) {
            var sub = 'guh ' + num + ', ' + tell[num]
            document.getElementById('subtitle').innerText = tell[num]
            return sub
        }
    </script>
    <audio src="" id="audio" controls autoplay hidden transition:persist transition:name="media-player"></audio>
</Layout>
