<nav class="nav">
    <div class="container">
        <img
            onclick="window.location.href='/'"
            style="width:50px;"
            src="/assets/img/ghost.png"
            class="mainIMG"
        />
        <ul class="nav-links">
            <li>
                <a href="/c/" id="school"
                    ><i class="fa-solid fa-gamepad active"></i> Games</a
                >
            </li>
            <span style="color: var(--Background-Color); opacity: 75%;">|</span>
            <li>
                <a href="/a/" id="algebra"
                    ><i class="fas fa-shapes active"></i> Apps</a
                >
            </li>
            <span style="color: var(--Background-Color); opacity: 75%;">|</span>
            <li>
                <a href="/s/" id="sett"
                    ><i class="fa-solid fa-gear active"></i> Settings</a
                >
            </li>
            <span style="color: var(--Background-Color); opacity: 75%;">|</span>
            <li>
                <a href="/w/" id="brows"
                    ><i class="fa-solid fa-search active"></i> Sea<x>rch</x></a
                >
                <span style="color: var(--Background-Color); opacity: 75%;"
                    >|</span
                >
                <li>
                    <a href="https://discord.gg/dbyDXfs5dN" id="brows"
                        ><i
                            class="fa-brands fa-discord active"
                            style="margin-right: 5px;"></i></a
                    >
                </li>
                <li>
                    <a
                        href="https://github.com/The-Ghost-Network/Ghost-Astro"
                        id="brows"><i class="fa-brands fa-github active"></i></a
                    >
                </li>
            </li>
        </ul>
    </div>
</nav>
<script is:inline src="/js/astro.js?cosmos&stars=skib"></script>
