---
interface Props {
    title: string
}

const { title } = Astro.props
import { ClientRouter } from 'astro:transitions';
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            id="favicon"
            type="image/svg+xml"
            href="/img/ghost.webp"
        />
        <meta property="og:title" content="Ghost" />
        <meta property="og:url" content="https://immortal2willlose.xyz" />
        <meta property="og:image" content="https://immortal2willlose.xyz/assets/img/ghost.webp" />
        <meta property="og:description" content="One of the best and most coolest sites ever!">
        <title>{title}</title>
        <ClientRouter/>
        <ViewTransitions />
        <!--Google tag (gtag.js)-->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-WFWKKRRXLT"
        ></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || []

            function gtag() {
                dataLayer.push(arguments)
            }
            gtag('js', new Date())

            gtag('config', 'G-WFWKKRRXLT')
        </script>
        <!--Preload pages so its fasttt-->
        <script 
        src="https://cdn.jsdelivr.net/npm/instant.page@5.1.0/instant.page.min.js" 
        type="module" 
        data-nodata="reload"
        ></script>
        <!--b and e-->
        <script is:inline src="/whatthesigma/index.js" defer></script>
        <script is:inline src="/bussin/index.js" defer></script>        

        <!--3-->
        <script is:inline defer src="/violet/bundle.js"></script>
        <script is:inline defer src="/violet/config.js"></script>

        <!-- 2 default -->
        <script is:inline src="/u/space.js" defer></script>
        <script is:inline src="/u/liftoff.js" type="module" defer></script>
        <script src="/js/galaxy.js?rocket=true" is:inline type="module"></script>

        <!--r-->
        <script src="https://unpkg.com/@rubynetwork/rammerhead-browser" defer />


        <link rel="manifest" href="/manifest.json">
    </head>
    <body transition:animate={fade({ duration: '.4s' })}>
        <slot />
    </body>
</html>

<!--css-->
<style is:global>
    /* test styles */

    :root {
  --star: #ffd900;
  --text-color: #e0e0e0;
}

.iframe-Container {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}

iframe {
    position: relative;
    z-index: -1;
    display: none;
}

.frame_top {
    position: relative;
    width: 100%; 
    height: 100%;
    border: none;
    display: block;
    z-index: 9997;
    border-radius: 15px;
}

body {
  margin: 0;
  font-family: sfprosemibold;
  background-color: var(--Background-Color);
  color: var(--text-color);
}

.gmail__container {
  display: grid;
  grid-template-areas:
    "search search search"
    "l-side iframe r-side";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 1fr 60px;
  height: 100vh;
  gap: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.option {
    width: 150px;
    height: 30%;
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    transition: .4s ease;
    display: flex;
    align-items: center;
}

.option svg {
    /*dawg what the sigma*/
}

.option:hover {
    background-color: var(--Settings-Card-1);
    transition: .4s ease;
    cursor: pointer;
}

.option #text {
    padding-bottom: 5px;
}

.dropDown {
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 9999999;
    transition: .4s ease;
    display: none;
    width:fit-content;
    height: fit-content;
    color: white;
    border-radius: 10px;
    border: 1px solid var(--Settings-Card-1);
    background-color: var(--Background-Color);
}

.gmail__container-search {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Background-Color);
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.logo-name {
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--Secondary-Color);
  padding-left: 13px;
  border-radius: 7px;
  flex-grow: 1;
  margin: 0 20px;
}

.search-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--Secondary-Color);
  cursor: pointer;
  fill: var(--text-color);
}

.search-icon {
  width: 20px;
  height: 20px;
  background-color: var(--Background-Color);
  padding: 7px;
  border-radius: 5px;
  fill: var(--text-color);
}

.search-input {
  font-family: sfprosemibold;
  flex-grow: 1;
  padding: 5px;
  background-color: transparent;
  border: none;
  height: 40px;
  border-radius: 4px;
  color: var(--text-color);
}

.search-input:focus {
  outline: none;
}

.separator-top {
  width: 80%;
  height: 1px;
  margin: 10px auto;
  background-color: var(--Game-Color);
}

.separator {
  width: 1px;
  height: 30px;
  margin: 0px 15px;
  background-color: var(--Game-Color);
}

.iframe {
  grid-area: iframe;
  background-color: var(--Secondary-Color);
  border-top: 1px solid var(--Game-Color);
  border-left: 1px solid var(--Game-Color);
  border-right: 1px solid var(--Game-Color);
  border-radius: 15px 15px 15px 15px;
  position: relative;
  z-index: 1;
  width: 80%;
  height: 90%;
  box-sizing: border-box;
}

.r-side {
  grid-area: r-side;
  background-color: var(--Background-Color);
  width: 60px;
  height: 100%;
  box-sizing: border-box;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 10px 0;
}

#bookmarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 10px 0;
}

.box {
  width: 40px;
  height: 40px;
  background-color: var(--Secondary-Color);
  border: 1px solid var(--Game-Color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.svg-box {
  width: 40px;
  height: 40px;
  background-color: var(--Secondary-Color);
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Game-Color);
  border-radius: 8px;
}

.svg-box svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.l-side {
  grid-area: l-side;
  background-color: var(--Background-Color);
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.new-tab {
  display: flex;
  align-items: center;
  background-color: var(--Secondary-Color);
  padding: 10px 15px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-tab:hover {
  background-color: var(--Game-Color);
}

.new-tab .active {
    background-color: var(--Game-Color);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  fill: var(--text-color);
  margin-right: 10px;
}

.svg-bttn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.new-name {
  color: var(--text-color);
  font-size: 18px;
  text-transform: capitalize;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 7px 10px;
  border-radius: 7px;
  background-color: transparent;
  transition: 0.3s ease;
}

.nav-item:hover {
  cursor: pointer;
  background-color: var(--Secondary-Color);
}

.nav-icon {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

.nav-name {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}

.new-tab {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.new-icon svg {
  height: 32px;
  width: 32px;
  fill: var(--text-color);
}

.new-name {
  color: var(--text-color);
  font-size: 16px;
}

.tab-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.tab {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 6px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.actv {
    background-color: var(--Game-Color);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab:hover {
  background-color: var(--Game-Color);
}

.tabbtn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    margin-right: 0px;
}

.tab-icon {
  width: 32px;
  max-height: 32px;
  max-width: 64px;
  display:flex; 
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 7px;
}

.tab-icon img {
  min-width: 100%;
  border-radius: 10px;
  min-height: 100%;
  object-fit: cover;
}

.tab-title {
  font-family: sfprosemibold;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: .5;
  color: var(--text-color);
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  display: block;
  overflow: hidden;
  max-width: 80px;
}

.tab-svg {
  width: 24px;
  height: 24px;
}

.tab-svg svg {
  width: 100%;
  height: 100%;
  fill: var(--star);
}

.scrollable-container {
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  max-height: 38px;
  max-width: 38px;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--Background-Color);
  display: flex;
  align-items: center;
}
.selected-icon{
  max-height: 24px;
}
.selected-icon svg {
  width: 24px;
  height: 24px;
}
.dropdown-menu {
  position: absolute;
  display: none;
  flex-direction: row;
  background-color: var(--Background-Color);
  border-radius: 5px;
  left: -41px;
  padding: 7px;
  gap: 10px;
  z-index: 10;
}
.dropdown.open .dropdown-menu {
  display: flex;
}
.dropdown-item {
  cursor: pointer;
}
.dropdown-item svg {
  width: 24px;
  height: 24px;
  padding: 3px;
}
</style>
<style is:global>

    @font-face {
        font-family: sfprosemibold;
        src: url(/sfprosemibold.woff2);
    }

    /*as an ai i cannot work on shit code please try agian.*/

    .nav {
        background-color: var(--Secondary-Color);
        color: #fff;
        padding: 5px 0;
        width: fit-content;
        margin-left: 1%;
        border-radius: 15px;
        position: fixed;
        z-index: 100;
        margin-top: 10px;
        font-family: 'Be Vietnam Pro';
        animation: fadeIn .4s;
    }

    .nav button {
    background-color: var(--Primary-Color);
    border: none;
    margin: 7px;
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-icon {
    width: 32px;
    height: 32px;
    margin-right: 6px;
    object-fit: contain; 
    transition: transform 0.3s ease;
}

.nav button:hover {
    background-color: var(--Third-Color);
    transform: scale(1.1);
}

.nav-icon:hover {
    transform: rotate(10deg); 
}

    .nav button {
    background-color: var(--Primary-Color);
    border: none;
    margin: 7px;
    border-radius: 50%;
    width: 30px; 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.nav button a{
    height: 18px;
    width: 18px;
}

.nav-svg {
    width: 18px; 
    height: 18px;
    fill: var(--Secondary-Color);
}


    .mainIMG:hover {
        cursor: pointer;
        animation: spin 0.5s;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
</style>

<style is:global>
    /* use root and classes for theming */
    /* I'd just like to interject for a moment. What you're referring to as Linux, is in fact, GNU/Linux, or as I've recently taken to calling it, GNU plus Linux. Linux is not an operating system unto itself, but rather another free component of a fully functioning GNU system made useful by the GNU corelibs, shell utilities and vital system components comprising a full OS as defined by POSIX. Many computer users run a modified version of the GNU system every day, without realizing it. Through a peculiar turn of events, the version of GNU which is widely used today is often called “Linux,” and many of its users are not aware that it is basically the GNU system, developed by the GNU Project. There really is a Linux, and these people are using it, but it is just a part of the system they use. */
    :root {
        --Background-Color: #0e1719;
        --text-color: white;
        --Primary-Color: #f84545;
        --Secondary-Color: #1a1d21;
        --Third-Color: #f84545;
        --Game-Color: #1a1d21;
        --Shape-Color: #161e20;
        --Settings-Card-1: #202935de;
        --Settings-Card-2: #0a0a0ad4;
    }

    .starlight {
        --Background-Color: #0a112d;
        --text-color: white;
        --Primary-Color: #8336c8;
        --Secondary-Color: #3019a5;
        --Third-Color: #8336c8;
        --Game-Color: #654aee;
        --Settings-Card-1: #4112ae;
        --Settings-Card-2: #3807b8;
    }

    .catppuccin {
        --Background-Color: #494d64;
        --text-color: #cad3f5;
        --Primary-Color: #9194ab;
        --Secondary-Color: #5b6078;
        --Third-Color: #a5adcb;
        --Symbols-Color: white;
        --Game-Color: #575b6d;
        --Settings-Card-1: #9999c7eb;
        --Settings-Card-2: rgba(77, 79, 93, 0.831);
    }

    .blue {
        --Background-Color: #7ea5cb;
        --text-color: black;
        --Primary-Color: #386589;
        --Secondary-Color: #e1eaf3;
        --Third-Color: #1361a1;
        --Symbols-Color: white;
        --Game-Color: #6ca2d8;
        --Settings-Card-1: #5a82d8eb;
        --Settings-Card-2: rgba(33, 45, 120, 0.831);
    }

    .pink {
        --Background-Color: #d3c6cd;
        --text-color: black;
        --Primary-Color: #d3c6cd;
        --Secondary-Color: #e1eaf3;
        --Third-Color: #cbbec9;
        --Symbols-Color: black;
        --Game-Color: #e3b9cf;
        --Settings-Card-1: #bfa3b2;
        --Settings-Card-2: #cd92b1;
    }

    .green {
        --Background-Color: #9ecaac;
        --text-color: white;
        --Primary-Color: #a9d1ab;
        --Secondary-Color: #84ab90;
        --Third-Color: #a2ccb0;
        --Symbols-Color: white;
        --Game-Color: #a5e6b9;
        --Settings-Card-1: #98daab;
        --Settings-Card-2: #458646;
    }

    .greendark {
        --Background-Color: #287e3e;
        --text-color: white;
        --Primary-Color: #1c7633;
        --Secondary-Color: #17642b;
        --Third-Color: #2e7f39;
        --Symbols-Color: white;
        --Game-Color: #37974f;
        --Settings-Card-1: #30623e;
        --Settings-Card-2: #1b301b;
    }

    .pinkdark {
        --Background-Color: #7c3a4e;
        --text-color: white;
        --Primary-Color: #732e45;
        --Secondary-Color: #924a66;
        --Third-Color: #5b2536;
        --Symbols-Color: white;
        --Game-Color: #964059;
        --Settings-Card-1: #7d4b59;
        --Settings-Card-2: #391922;
    }

    .bluedark {
        --Background-Color: #63c7df;
        --text-color: white;
        --Primary-Color: #8dfeff; 
        --Secondary-Color: #83bdda;
        --Third-Color: #63c7df;
        --Symbols-Color: white;
        --Game-Color: #78a2b5;
        --Settings-Card-1: #439bc4;
        --Settings-Card-2: #34647a;
    }

    .purple {
        --Background-Color: #7a76a7;
        --text-color: white;
        --Primary-Color: #5f5b8f;
        --Secondary-Color: #7f7ca5;
        --Third-Color: #8e8ab4;
        --Symbols-Color: white;
        --Game-Color: #706ab0;
        --Settings-Card-1: #766dd5;
        --Settings-Card-2: #484378;
    }

    @font-face {
        font-family: '2';
        src: url(/assets/font.woff2) format('woff2');
    }

    body {
        font-family: sfprosemibold;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--Background-Color);
    }

    @media screen and (max-width: 700px) {
        .navbar {
            background-color: var(--Secondary-Color);
            color: #fff;
            padding: 10px 0;
            width: 98%;
            margin-left: 1%;
            border-radius: 10px;
            position: fixed;
            z-index: 10;
            max-height: 5%;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        0% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    @keyframes owo {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .player {
        position: absolute;
        z-index: 1000;
        display: flex;
        width: 200px;
        height: 200px;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--Background-Color);
        color: var(--color-white);
        border-radius: 12px;
    }


    .footer__right {
        display: flex;
        position: absolute;
        align-items: right;
        gap: 1rem;
        right: 0px;
        bottom: 0px;
    }
    
    .privacyPolicy {
        padding: 20px 15px;
        display: flex;
        position: absolute;
        align-items: right;
        gap: 1rem;
        left: 0px;
        bottom: 0px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        color: var(--color-white);
        padding: none;
        margin: 0px;
        height: 25px;
        text-align: center;
        display: flex;
    }

    .player__controls {
        display: flex;
        gap: 1rem;
    }

    .version {
        color: #0f4d50;
    }

    .player__controls button {
        background-color: transparent;
        border: none;
        color: var(--color-white);
        font-size: 1.5rem;
    }

    .special {
        background-color: #ffffff;
        color: var(--color-primary);
        border-radius: 50%;
        padding: 0.5rem;
    }

    .button {
        font-family: sfprosemibold;
        border-radius: 5px;
        width: 7%;
        height: 5%;
        background-color: var(--Background-Color);
        color: white;
    }

    .active {
        color: var(--Primary-Color);
    }

    #subtitle {
        color: var(--text-color);
        font-size: 25px;
    }

    .desc left-margin {
        height: 50px;
    }

    .settingsdisplay {
        align-items: center;
        display: block;
    }

    .search {
        background: none;
        font-family: inherit;
        padding: 0px 17px;
        height: 48px;
        border: 1px solid rgb(255, 255, 255, 0.2);
        color: var(--text-color);
        border-radius: 3px;
        outline: none;
        width: 350px;
        margin-top: 5px;
        border-radius: 50px;
        color: var(--text-color);
        transition: border-radius 0.1s;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .icon {
        background-color: var(--Primary-Color);
        width: 50px;
        height: 50px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #16263e;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #0e167e;
    }

    .logo {
        font-size: 24px;
        text-decoration: none;
        color: #fff;
    }

    .button1 {
        color: white;
        font-family: sfprosemibold;
        background-color: var(--Background-Color);
        min-width: 300px;
        border-radius: 5px;
        margin-bottom: 10px;
        min-height: 30px;
        transition: all 0.1s ease;
        border: none;
    }

    .button1:hover {
        cursor: pointer;
        background-color: #484848;
        transition: 0.2s cubic-bezier(0.35, 0.56, 0.85, 0.77);
        transform: translateY(-5px);
    }

    .button1:active {
        transform: scale(0.9);
    }

    .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-links li {
        display: inline;
        margin-left: 5px;
    }

    .nav-links li:first-child {
        margin-left: 0;
    }

    .nav-links li a {
        text-decoration: none;
        color: var(--text-color);
        transition: color 0.3s ease;
    }

    .search-container {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: auto;
        margin-left: 10px;
        z-index: 1;
    }

    .search {
        padding: 15px 18px;
        border: none;
        width: 1000px;
        border-radius: 5px;
        background-color: floralwhite;
        color: var(--main-text-color);
        outline: none;
        margin-right: 10px;
        z-index: 1;
    }

    .search:focus::placeholder {
        color: var(--text-color);
        padding: 20px 15px;
        z-index: 1;
    }

    .material-symbols-outlined {
        padding: 10px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 1;
    }

    p.ex2 {
        font-size: 50px;
        padding-top: 5%;
        color: var(--text-color);
        margin: 0;
    }

    p {
        color: var(--text-color);
        padding: 20px 15px;
    }

    .acontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        gap: 10px;
    }

    .input {
        background: (--Secondary-Color);
        font-family: sfprosemibold;
        padding: 15px 17px;
        border: none;
        height: 50px;
        color: var(--text-color);
        outline: none;
        width: 700px;
        margin-top: 5px;
        border-radius: 30px;
        color: black;
        transition: 0.2s cubic-bezier(0.35, 0.56, 0.85, 0.77);
        animation: goOut 1s;
        box-sizing: border-box;
    }

    @keyframes goOut {
        0% {
            width: 200px;
            opacity: 0.5;
            transform: translateY(20px);
        }
        100% {
            width: 700px;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .nav-links li a:hover {
        color: var(--Primary-Color);
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 200, 'opsz' 48;
    }

    .button2 {
        color: var(--text-color);
        font-family: sfprosemibold;
        background-color: var(--Secondary-Color);
        min-width: 200px;
        border-radius: 5px;
        margin-bottom: 10px;
        min-height: 30px;
        border: none;
        transition: 0.2s cubic-bezier(0.35, 0.56, 0.85, 0.77);
    }

    .button2:hover {
        cursor: pointer;
        background-color: #484848;
        transition: 0.2s cubic-bezier(0.35, 0.56, 0.85, 0.77);
        transform: translateY(-5px);
    }

    .button2:active {
        transform: scale(0.9);
    }

    .trendingtop {
        width: 98%;
        background: linear-gradient(
                    to top,
                    var(--Secondary-Color),
                    var(--Secondary-Color)
                )
                padding-box,
            linear-gradient(to top, var(--Third-Color), var(--Third-Color))
                border-box;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 10%;
        color: var(--Primary-Color);
        border: 1px solid transparent;
        border-bottom: 3px solid white;
    }

    .trendingbottom {
        width: 98%;
        background: linear-gradient(
                    to top,
                    var(--Secondary-Color),
                    var(--Secondary-Color)
                )
                padding-box,
            linear-gradient(to top, var(--Primary-Color), var(--Third-Color))
                border-box;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 20%;
        color: var(--Primary-Color);
        margin-bottom: 2%;
        border: 1px solid transparent;
    }

    .active {
        color: var(--Primary-Color);
    }

    @keyframes rotating {
        0% {
            --a: 0deg;
        }

        100% {
            --a: 360deg;
        }
    }

    .g-icon {
        text-align: center;
        width: 120px;
        height: 120px;
        animation: fadeIn 2s;
        transition: transform 0.3s ease-in-out;
        border-radius: 10px;
        margin: 15px;
        display: inline-block;
        flex-wrap: wrap;
    }

    .g-icon button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .g-icon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        transition: transform 0.3s ease-in-out;
        border-radius: 10px;
    }

    .g-icon p {
        margin-top: 10px;
        color: #fff;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        font-family: sfprosemibold;
        opacity: 0;
        transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
        border-radius: 10px;
    }

    .g-icon:hover {
        transform: scale(1.1);
    }

    .g-icon:hover img {
        transform: scale(1.1);
        border-radius: 15px;
    }

    .g-icon:hover p {
        bottom: 0;
        opacity: 1;
    }

    .hero__Container {
    position: relative;
    padding: 50px;
    text-align: center;
    overflow: hidden;
}

.hero__icon {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: auto;
    max-width: 100%;
    opacity: 0.7;
    z-index: 0;
}

.hero__title {
    animation: fadeIn .5s;
    font-size: 5rem;
    color: #ffffff;
    margin: 0;
    margin-top: 25px;
    z-index: 1;
    position: relative;
}

.hero__description {
    font-size: 1.2rem;
    color: #c8c8c8;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}

.hero__btn-holder {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.hero__btn {
    font-family: sfprosemibold;
    background-color: var(--Primary-Color);
    color: #ffffff;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    transition: all 0.3s ease;
}

.hero__btn svg {
    fill: #ffffff;
}

.hero__btn:hover {
    background-color: var(--Third-Color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

.hero__btn:active {
    transform: translateY(1px);
    box-shadow: none;
}


.g-a__title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--Primary-Color);
}

.g-a__btn {
    font-family: sfprosemibold;
    background-color: var(--Primary-Color);
    color: #ffffff;
    border: none;
    padding: 6px 9px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    margin-top: 12px;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.g-a__btn svg {
    fill: #ffffff;
}

.g-a__btn:hover {
    background-color: var(--Third-Color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

.g-a__btn:active {
    transform: translateY(1px);
    box-shadow: none;
}

.g-a__holder{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 15px;
    min-width: 90%;
    max-width: 90%;
    margin-bottom: 25px;
}

.g-a__card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: fadeIn .5s;
}

.g-a__img  {
    height: 120px;
    width: 120px;
    border-radius: 7px;
    object-fit: cover;
    outline: var(--Third-Color) 3px solid;
}

    .lbox {
        width: 98%;
        text-align: center;
        background-color: var(--Secondary-Color);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 20%;
        color: var(--text-color);
        margin-left: 1%;
    }

    .lboxbottom {
        width: 98%;
        background-color: var(--Secondary-Color);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 20%;
        color: white;
        margin-left: 1%;
    }

    .mainiframe {
        border: none;
        outline: none;
        position: fixed;
        height: calc(100vh - 40px);
        width: 100% !important;
        padding: none;
        right: 0;
        left: 0;
        bottom: 0px;
        z-index: -1;
    }

    .topbar {
        width: 100vw;
        height: fit-content;
        background-color: var(--Background-Color);
        overflow: hidden;
        border: none;
        transition: cubic-bezier(1, 1.82, 1, 1.31) 0.25s;
        font-weight: 300;
        top: 0px;
        position: absolute;
        display: inline;
        justify-content: space-between;
        align-items: center;
    }

    .topbar-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 75%;
        padding-left: 10px;
    }

    .topbtn {
        color: white;
        background-color: transparent;
        border: 1px transparent;
        transition: cubic-bezier(1, 1.82, 1, 1.31) 0.25s;
        margin-top: 5px;
        cursor: pointer;
        margin-right: 10px;
        font-size: 1px;
        padding-bottom: 2px;
        padding: 0px;
    }

    .topbtn span {
        font-size: 20px;
        margin-top: 0px;
        animation: spin 1s;
    }

    @keyframes spin {
        0% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }

    @keyframes growOut {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    @keyframes growin {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(0);
        }
    }

    .hiddenuvpanel {
        display: none;
        animation: growin 0.25s;
    }

    .uvpanel {
        animation: growOut 0.25s;
        top: 50px;
        border-radius: 10px;
        background-color: var(--Background-Color);
        width: 200px;
        height: 200px;
        position: absolute;
    }

    .uvbutton {
        background-color: var(--Primary-Color);
        border: none;
        width: 180px;
        height: 30px;
        color: white;
        margin-left: 11px;
        margin-top: 10px;
        font-family: sfprosemibold;
        font-weight: 400;
        border-radius: 5px;
    }

    .uvbutton:hover {
        background-color: var(--Secondary-Color);
        transition: cubic-bezier(1, 1.82, 1, 1.31) 0.25s;
    }

    .uvbutton:active {
        background-color: var(--Third-Color);
    }

    .hiddenbar {
        display: none;
    }

    .barbutton {
        display: none;
        background-color: #0e121b;
        color: white;
        transition: cubic-bezier(1, 1.82, 1, 1.31) 0.25s;
    }

    .barbutton:hover {
        translate: calc(-20px);
        background-color: #3e47575d;
        transition: cubic-bezier(1, 1.82, 1, 1.31) 0.25s;
    }

    .CFrame {
        width: 100vh;
        height: 100vw;
        position: aboslute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        background-color: transparent;
    }

    /*insert settings panel css here lol :D*/
 .settingspanel {
        background-color: var(--Secondary-Color);
        border-radius: 10px;
        width: 25vw;
        height: fit-content;
        box-shadow: 16px 8px 16px 8px rgba(0, 0, 0, 0.2);
        border: none;
        padding: 17px;
        margin: 3vw;
        display: inline-block;
        border: 1px solid transparent;
        transition: cubic-bezier(1, 1.17, 1, 1.31) 0.25s;
        color: var(--text-color);
    }

    .settingspanel:hover {
        background: linear-gradient(
                    to top,
                    var(--Secondary-Color),
                    var(--Secondary-Color)
                )
                padding-box,
            linear-gradient(to top, var(--Primary-Color), var(--Third-Color))
                border-box;
        transition: cubic-bezier(1, 1.82, 1, 1.31) 0.25s;
        transform: translateY(-20px);
    }

    .settingsdisplay {
        display: inline-block;
        position: relative;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: var(--Primary-Color);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px var(--Primary-Color);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .engines {
        min-width: 300px;
        background-color: #171717;
        color: white;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
    }

    .showbutton {
        transform: translateY(-30px);
        color: white;
        background-color: var(--Background-Color);
        border: 1px transparent;
        transition: cubic-bezier(1, 1.82, 1, 1.31) 0.25s;
        width: 60px;
        height: 50px;
        border-radius: 10px;
    }

    .showbutton:hover {
        background-color: var(--Primary-Color);
        border: 1px var(--Background-Color);
        transition: cubic-bezier(1, 1.82, 1, 1.31) 0.25s;
        border-radius: 5px;
        transform: translateY(0px);
    }

    .showbutton:active {
        background-color: #30374425;
    }

    .barbutton {
        display: none;
    }

    .iframe {
        border: none;
        outline: none;
        position: fixed;
        height: 100vh;
        width: 100% !important;
        padding: none;
        right: 0;
        left: 0;
        bottom: 0px;
        z-index: -1;
    }

    .copybttn {
        width: 180px;
        height: 30px;
        color: white;
        margin-left: 11px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: var(--Primary-Color);
        border: none;
    }

    .copybttn:hover {
        background-color: var(--Secondary-Color);
        transition: cubic-bezier(1, 1.82, 1, 1.31) 0.25s;
    }

    .mainIMG:hover {
        cursor: pointer;
    }


    .settings {
  background: var(--Background-Color);
}

.setting__title {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
}

.setting__description {
  display: flex;
  justify-self: center;
  max-width: 90ch;
  font-size: 1.25rem;
  color: #a5a5a5b8;
  text-align: center;
}

.setting__info-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.setting__info-wrapper {
  position: relative;
  padding-top: 48px;
}

.setting__info-card {
  background: linear-gradient(135deg, var(--Settings-Card-1), var(--Settings-Card-2));
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #fff;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  min-height: 200px;
  overflow: visible;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.589);
  color: #fff;
}

.setting__info-icon {
  background-color: var(--Secondary-Color);
  width: 80px;
  height: 80px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  left: calc(50% - 40px);
  box-shadow: inset 10px 10px 15px rgba(255, 255, 255, 0.075),
    inset -10px -10px 15px rgba(255, 255, 255, 0.075),
    inset -10px 10px 15px rgba(255, 255, 255, 0.075),
    inset 10px -10px 15px rgba(255, 255, 255, 0.075), 0 0 20px 5px var(--Background-Color);
  border: 1px solid #fff;
}

.setting__info-icon svg {
  width: 45px;
  height: 45px;
}

.text-content {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.setting__info-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.setting__info-description {
  font-size: 1.25rem;
  color: #a5a5a5b8;
  margin-top: 5px;
}

@media (max-width: 1536px) {
  .setting__info-card {
    min-height: 250px;
  }
}

@media (max-width: 1024px) {
  .setting__info-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .setting__info-card {
    min-height: 300px;
  }
}

@media (max-width: 640px) {
  .setting__info-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  .setting__info-card {
    min-height: 200px;
  }

  .setting__title {
    font-size: 2.25rem;
  }

  .setting__description {
    font-size: 1rem;
  }
}
</style>
